:root {
    --blackback: #111111;
    --purpleback: #7E00A4;
    --goldback: #C69F00;
    --whiteback: #DDDDDD;
    --text1: #000000;
    --purple: #310054;
    /* font-family: "Roboto Mono", monospace; */
    /* font-family: "Libre Baskerville", serif; */
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("../img/backgroundcadastro.png");
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
    height: 90vh;
}

p, h2, label{
    color: var(--whiteback);
}

h2{
    font-size: 6rem;
    font-weight: bolder;
}

p {
    font-size: 2rem;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 8vh;
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80dvh;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 700;
}

input {
    width: 100%; /* Faz com que os campos de entrada ocupem toda a largura disponível */
    margin-bottom: 15px; /* Espaçamento entre os campos de entrada */
    padding: 12px; /* Espaçamento interno dos campos de entrada */
    border: 1px solid var(--whiteback); /* Borda padrão */
    border-radius: 8px; /* Bordas arredondadas */
}

input[type="submit"] {
    background-color: var(--purpleback); /* Cor de fundo do botão */
    color: var(--whiteback); /* Cor do texto do botão */
    border: none; /* Remove a borda padrão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    font-size: 1rem;
    font-weight: 900;
    align-self: center;
}

input[type="submit"]:hover {
    background-color: var(--goldback); /* Cor do botão ao passar o mouse */
}

.cadastro form label{
    margin-top: 10px;
}

.header-cad{
    margin-top: 10dvh;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--purpleback);
    gap: 5px;
    padding: 10px 2px;
    border-radius: 1px;
}

a{
    text-decoration: none;
    color: var(--whiteback);
}