:root {
    --blackback: #111111;
    --purpleback: #7E00A4;
    --goldback: #C69F00;
    --whiteback: #DDDDDD;
    --text1: #000000;
    --purple: #310054;
    /* font-family: "Roboto Mono", monospace; */
    /* font-family: "Libre Baskerville", serif; */
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

p{
    color: var(--whiteback);
}

h2{
    color: var(--whiteback);
}


header{
    background-color: var(--blackback);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5vh;
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80dvh;
    background-color: var(--blackback);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%; /* Faz com que os campos de entrada ocupem toda a largura disponível */
    margin-bottom: 15px; /* Espaçamento entre os campos de entrada */
    padding: 8px; /* Espaçamento interno dos campos de entrada */
    border: 1px solid var(--whiteback); /* Borda padrão */
    border-radius: 4px; /* Bordas arredondadas */
}

input[type="submit"] {
    width: auto; /* Largura automática para o botão de envio */
    background-color: var(--purpleback); /* Cor de fundo do botão */
    color: var(--whiteback); /* Cor do texto do botão */
    border: none; /* Remove a borda padrão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
}

input[type="submit"]:hover {
    background-color: var(--goldback); /* Cor do botão ao passar o mouse */
}

.cadastro form label{
    margin-top: 10px;
}

.header-cad{
    margin-top: 10dvh;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--purpleback);
    gap: 5px;
    padding: 10px 2px;
    border-radius: 1px;
}

a{
    text-decoration: none;
    color: var(--whiteback);
}