:root {
    --blackback: #111111;
    --purpleback: #7E00A4;
    --goldback: #C69F00;
    --whiteback: #DDDDDD;
    --text1: #000000;
    --purple: #310054;
    /* font-family: "Roboto Mono", monospace; */
    /* font-family: "Libre Baskerville", serif; */
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--whiteback);
}

p{
    color: var(--text);
}

h2{
    color: var(--text);
    margin-top: 40px;
}

/* main do site */
main{
    background-color: var(--blackback);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text);
    gap: 40px;
}

.produtos {
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 15px;
    background-color: #c2c2c2c5;
}

.produto img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.produto h2{
    font-size: 1.5rem;
}

.produto p{
    font-size: 1.2rem;
}

.produto button{
    background-color: var(--purpleback);
    color: var(--whiteback);
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 900;
    width: 100%;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-self: flex-start;
    white-space: nowrap;
    overflow: hidden; */
    text-overflow: ellipsis;
    gap: 15px;
}

.info > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info > div > span {
    color: #310054;
    font-size: 1.2rem;
}