:root {
    --blackback: #111111;
    --purpleback: #7E00A4;
    --goldback: #C69F00;
    --whiteback: #DDDDDD;
    --text1: #000000;
    --purple: #310054;
    /* font-family: "Roboto Mono", monospace; */
    /* font-family: "Libre Baskerville", serif; */
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--whiteback);
}

p{
    color: var(--text1);
}

/* header do site */
header{
    background-image: linear-gradient(to right, var(--text1), var(--blackback));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5vh;
    height: 100px;
}

img{
    height: 90px;
}

header .imglogo a img{
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: end;
    background-color: var(--brownback);
}

header .imguser img{
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: end;
}

/* nav do site */
nav{    
    height: 45px;
    margin: 0;
    padding: 0;
    background-color: var(--purpleback);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
  
li {
    float: left;
    padding: 2px 100px;
}
  

li a {
    height: 40px;
    display: block;
    padding: 2px 3px;
    background-color: var(--purpleback);
    color: var(--whiteback);
}

li a:hover {
    background-color: var(--purple);
    color: var(--whiteback);
  }

a{
    display: block;
    text-decoration: none;
}

main{
    display: flex;
    background-color: var(--whiteback);
    color: var(--text1)
}

main > h2{
    color: var(--text1)
}

footer{
    height: 20px;
    background-image: linear-gradient(to right, var(--purple), var(--purpleback));background-color: var(--blueback);
    color: var(--whiteback);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .names {
    font-size: 13px;
}

footer .names a {
    color: var(--whiteback);
}