:root {
    --blackback: #111111;
    --purpleback: #7E00A4;
    --goldback: #C69F00;
    --whiteback: #DDDDDD;
    --text1: #000000;
    --purple: #310054;
    /* font-family: "Roboto Mono", monospace; */
    /* font-family: "Libre Baskerville", serif; */
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--whiteback);
}

p{
    color: var(--text);
}

h2{
    color: var(--text);
}

main{
    background-color: var(--blackback);
    height: 43dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text);
    gap: 10dvh;
}

main .voltar{
    margin-top: 200px;
}